@media(width <= 767px) {
    header.cabecalho {
        display: none;
    }

    header.cabecalho-mobile {
        display: block;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: lightblue;
    }

    .cabecalho-mobile > span > img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: #0a0c4c4d;
        border-radius: 8px;
        padding: 0.2rem 0.1rem;
        margin-top: 0.7rem;
        margin-right: 1rem;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        background: rgb(3, 35, 3);
    }

    section {
        /*width: 100vw;*/
        height: 100vh;
    }
    
    section.inicio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 130vh;
        /*background-color: darkgoldenrod;*/
        grid-row: 1;
        /*width: 100vw;*/
    }

    section.inicio > div.info-texto-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8rem 4rem 4rem;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 1;
        /*background-color: red;*/
        height: 16rem;
    }

    section.inicio > div.info-texto-container > h1 {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        align-self: end;
        /*background-color: rgb(89, 54, 9);*/
        font-size: 1.5rem;
        text-align: center;
        min-width: 385px;
        max-width: 100%;
        height: 7rem;
        line-height: 2rem;
        margin: 0 auto;
        padding: 0.5rem;
    }

    section.inicio > div.info-texto-container > h2 {
        grid-row: 2;
        grid-column: 2;
        /*background-color: rgb(2, 87, 87);*/
        text-align: center;
        justify-self: end;
        align-self: center;
        max-width: 26rem;
        min-width: 411px;
        font-size: 1.5rem;
        margin: 0 auto;
        padding: 0.1rem 0.2rem;
    }

    section.inicio > div.info-texto-container > ul.ctt {
        grid-row: 3;
        grid-column: 2;
        align-self: center;
    }

    section.inicio > div.info-texto-container > ul.ctt > li {
        padding-right: 0;
    }

    section.inicio > div.info-texto-container > ul.ctt > li > a {
        background-color: pink;
    }

    section.inicio > div.img-perfil-container {
        grid-row: 2;
        grid-column: 1;
        margin: 0 auto;
        /*background-color: dodgerblue;*/
        /*width: 500px;*/
    }

    section.inicio > div.img-perfil-container img {
        max-width: 100%;
        display: block;
    }
    

    section.sobre-mim {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        /*background-color: blueviolet;*/
        height: min-content;
    }

    section.sobre-mim > div.img-continer-sb {
        display: none;
    }

    section.sobre-mim > div.info-texto {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    section.sobre-mim > div.info-texto > h1 {
        justify-self: center;
        align-self: center;
        grid-row: 1;
        font-size: 2.2rem;
        /*background-color: red;*/
        height: 50px;
    }

    section.sobre-mim > div.info-texto > p {
        grid-row: 2;
        text-align: center;
        font-size: 1.1rem;
        font-weight: lighter;
        align-self: center;
        justify-self: center;
        padding: 0.1rem 0;
        max-width: 340px;
        /*background-color: red;*/
        margin-bottom: 1rem;
    }

    section.habilidades {
        /*background-color: rgb(57, 57, 45);*/
        display: grid;
        grid-row: 3;
        grid-column: 1;
        grid-template-rows: 3rem 1fr;
        grid-template-columns: 1fr;
    }

    section.habilidades > h1 {
        grid-column: 1;
        grid-row: 1;
        color: white;
        align-self: self-start;
        justify-self: center;
        font-size: 2.2rem;
        background-color: red;
       
    }

    section.habilidades > article {
        display: none;
    }

    section.habilidades > div.icones-habilidades {
        grid-column: 1;
        grid-row: 2;
        /*background-color: rgb(28, 93, 91);*/
        width: auto;
        align-self: start;
        display: grid;
        row-gap: 1.5rem;
        grid-template-columns: repeat(2, 200px);
        justify-self: center;
    }

    section.projetos {
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr;
    }

    section.projetos > article  {
        justify-content: center;
    }

    section.projetos > div.titulo-projetos > h1{
        grid-column: 1;
        grid-row: 1;
        color: white;
        align-self: self-start;
        justify-self: center;
        font-size: 2.2rem;
        background-color: red;
    }

    section.projetos > article > div  > div.cover-projetos {
        width: 20rem;
        height: 10rem;
    }
}

