[data-menu="button"] {
    display: none;
}

@media(width <= 767px) {
    header.cabecalho  nav.menu {
        position: relative;
    }

    [data-menu="button"] {
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        margin-right: 1rem;
        background: #e8e7ff;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        color: #020326;
        letter-spacing: 0.7px;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        z-index: 300;
        box-shadow: 2px 2px 3px 0 rgba(56, 56, 56, 0.227);
        font-family: "Poppins", serif;
    }

    [data-menu="button"]::before {
        content: '';
        display: inline-block;
        background-color: #020326;
        width: 14px;
        height: 2px;
        margin-right: 6px;
        box-shadow: 0 4px black, 0 -4px black;
        transition: .3s ease-in-out;
        border-radius: 2px;
    }

    [data-menu="button"].ativo::before {
        transform: rotate(90deg);
    }

    header.cabecalho [data-menu="lista"] {
        display: none;
        position: absolute;
        top: 0;
        right: -100px;
        background-color: rgba(0, 12, 52, 0.993);
        max-width: 200px;
        padding: 70px 16px 20px 16px;
        z-index: 200;
        box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.267);
        
    }

    header.cabecalho [data-menu="lista"].ativo {
        display: block;
        animation: showright .3s forwards;
    }


    @keyframes showright {
        from {
            opacity: 0;
            transform: translate3d(-30px, 0, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    header.cabecalho [data-menu="lista"] li {
        margin-bottom: 1.2rem;
    }

    header.cabecalho [data-menu="lista"] a { 
        /*background-color: rgb(52, 52, 52);*/
        margin: 0;
        padding: 0.7rem 1rem;
    }

    header.cabecalho [data-menu="lista"] a:hover {
        font-weight: 500;
    }

    header.cabecalho [data-menu="lista"] a.sobmim-menu {
        margin-left: 0;
    }

    
    header.cabecalho [data-menu="lista"] a::after {
        content: ' ';
        display: block;
        background-color: rgb(132, 139, 158);
        height: 0;
        width: 2px;
        position: absolute;
        top: 40px;
        left: 8px;
    }

    header.cabecalho [data-menu="lista"] a:hover::after {
        height: 2px;
        width: 150px;
        color: black;
        top: 40px;
        left: 8px;
    }

    

   /* header.cabecalho-mobile {
        display: block;
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: lightblue;
    }*/

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 300px 550px 650px;
        row-gap: 3rem;
        /* background: rgb(224, 158, 224); */
    }

    section {
        /*width: 100vw;*/
        /* height: 100vh; */
    }
    
    section.inicio {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr;
        /* height: 130vh; */
        /* background-color: darkgoldenrod; */
        grid-row: 1;
        padding: 1rem .5rem;
        padding-top: 5.6rem;
        /*width: 100vw;*/
    }

    section.inicio > div.info-texto-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8rem 8rem 8rem;
        margin: 0 auto;
        grid-column: 1;
        grid-row: 1;
    }

    section.inicio > div.info-texto-container > h1 {
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        align-self: end;
        font-size: 1.5rem;
        text-align: center;
        max-width: 398px;
        height: 7rem;
        line-height: 2rem;
        margin: 0 auto;
        padding: 0.5rem;

    }

    section.inicio > div.info-texto-container > h2 {
        grid-row: 2;
        grid-column: 2;
        text-align: center;
        justify-self: end;
        align-self: center;
        max-width: 398px;
        font-size: 1.3rem;
        margin: 0 auto;
        padding: 0.1rem 0.2rem;
    }

    section.inicio > div.info-texto-container > ul.ctt {
        grid-row: 3;
        grid-column: 2;
        align-self: center;
        max-width: 450px;
    }

    section.inicio > div.info-texto-container > ul.ctt > li {
        padding-right: 0;
    }

    section.inicio > div.info-texto-container > ul.ctt > li > a {
        /*background-color: pink;*/
    }

    section.inicio > div.img-perfil-container {
        grid-row: 2;
        grid-column: 1;
        margin: 0 auto;
        margin-top: 2rem;
        /*background-color: dodgerblue;*/
        /*width: 500px;*/
        height: 622px;
        height: fit-content;
    }

    section.inicio > div.img-perfil-container img {
        width: 100%;
        height: 100%;
        display: block;
    }
    

    section.sobre-mim {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        /* background-color: blueviolet; */
        height: min-content;
    }

    section.sobre-mim > div.img-continer-sb {
        display: none;
    }

    section.sobre-mim > div.info-texto {
        grid-row: 1;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-bottom: 0.2rem;
    }

    section.sobre-mim > div.info-texto > h1 {
        justify-self: center;
        align-self: center;
        grid-row: 1;
        font-size: 2.2rem;
        /*background-color: red;*/
        height: 50px;
    }

    section.sobre-mim > div.info-texto > p {
        grid-row: 2;
        text-align: center;
        font-size: 1.1rem;
        font-weight: lighter;
        align-self: center;
        justify-self: center;
        padding: 0.1rem 0;
        max-width: 340px;
        /*background-color: red;*/
        margin-bottom: 1rem;
    }

    section.habilidades {
        display: grid;
        grid-row: 3;
        grid-column: 1;
        grid-template-rows: 3rem 1fr;
        grid-template-columns: 1fr;
        padding-top: 1rem;
        background: red;
    }

    section.habilidades > h1 {
        grid-column: 1;
        grid-row: 1;
        color: white;
        align-self: self-start;
        justify-self: center;
        font-size: 2.2rem;
       
    }

    section.habilidades > article {
        display: none;
    }

    section.habilidades > div.icones-habilidades {
        grid-column: 1;
        grid-row: 2;
        /*background-color: rgb(28, 93, 91);*/
        width: auto;
        align-self: start;
        display: grid;
        row-gap: 1.5rem;
        column-gap: 4rem;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
       max-height: initial;
    }

    section.habilidades > div.icones-habilidades > img.html {
        grid-column: 1;
        grid-row: 1;
    }

    section.habilidades > div.icones-habilidades > img.icone-css  {
        grid-column: 2;
        grid-row: 1;
    }

    section.habilidades > div.icones-habilidades > img.icone-js {
        grid-column: 1;
        grid-row: 2;
    }

    section.habilidades > div.icones-habilidades > img.icone-git {
        grid-column: 2;
        grid-row: 2;
    }

    section.habilidades > div.icones-habilidades > img.icone-figma {
        grid-column: 1;
        grid-row: 3;
    }


    section.projetos {
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr;
    }

    section.projetos > article  {
        justify-content: center;
    }

    section.projetos > div.titulo-projetos > h1{
        grid-column: 1;
        grid-row: 1;
        color: white;
        align-self: self-start;
        justify-self: center;
        font-size: 2.2rem;
    }

    section.projetos > article > div  > div.cover-projetos {
        width: 20rem;
        height: 10rem;
    }
}

@media(width >= 1098px) and (width <= 1173px) {
    .cabecalho > nav > ul {
        margin-right: 2.2rem;
    }

    section.inicio {
        grid-template-columns: 3rem 1fr 1fr;
        grid-template-rows: 4rem 1fr;
        grid-column-gap: 1rem;
    }

    section.inicio > div > h1 {
        font-size: 38px;
        margin-top: 2.2rem;

    }

    section.inicio > div > ul {
        margin-top: 2rem;
    }

    section.inicio > div > ul > li > a {
        font-weight: 400;
        font-size: 15px;
    }

    section.inicio > div.img-perfil-container {
        height: 100%;
    }

    section.inicio > div > img {
        width: 100%;
        height: 100%;
    }

    section.sobre-mim {
        grid-template-rows: 6.5rem 1fr 1fr;
        column-gap: 3rem;
        background-color: burlywood;
    }

    section.sobre-mim > div.info-texto > h1 {
        color: white;
        font-size: 2.6rem;
    }

    section.sobre-mim > div.info-texto > p {
        font-size: 1.4rem;
        padding-right: 0.5rem;
    }

    /* section.sobre-mim > div.img-continer-sb {
        grid-row: 2;
        align-self: start;
        justify-self: center;
    } */

    section.sobre-mim > div > img {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        grid-row: 2/-1;
        display: block;
        box-shadow: 2px 2px 2px 0 rgba(108, 108, 108, 0.448);
    }

    section.habilidades {
        display: grid;
        grid-template-columns: 5rem 1fr 1fr;
        grid-template-rows: 11.2rem 1fr 2rem;
        
    }

    section.habilidades > h1 {
        color: white;
        font-size: 2.6rem;
    }


    section.habilidades > article > div.info-skill {
        max-width: 100%;
    }

    section.habilidades > article > div > h1 {
        font-size: 1.8rem;
    }

    section.habilidades > article > div > p {
        font-size: 1.7rem;
        max-width: 100%;
        color: white;
    }

    section.habilidades > div.icones-habilidades {
        grid-column: 3;
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 350px;
        justify-self: center;
    }

    section.habilidades > div.icones-habilidades > img {
        width: 80px;
    }

    section.habilidades > div.icones-habilidades > img.icone-css {
        width: 90px;
    }

    section.habilidades > div.icones-habilidades > img.icone-git {
        grid-column: 1;
        padding: 0.9rem 0.8rem;
        align-self: start;
    }

    section.habilidades > div.icones-habilidades > img.icone-figma {
        align-self: start;
        height: 86px;
    }

    section.projetos {
        grid-template-columns: 5rem 1fr 11.6rem;
    }

    section.projetos > div.titulo-projetos > h1 {
        font-size: 2.6rem;
    }

    section.projetos > article {
       justify-content: center;
    }
}

@media(width >= 767px) and (width <= 1098px) {
    .cabecalho > nav > ul {
        margin-right: 2.2rem;
    }

    section.inicio {
        grid-template-columns: 3rem 1fr 1fr;
        grid-template-rows: 4rem 1fr;
        padding-bottom: 2rem; 
    }

    section.inicio > div > h1 {
        font-size: 38px;
        margin-top: 2.2rem;
        line-height: 2.7rem;
    }

    section.inicio > div > ul {
        margin-top: 2rem;
    }

    section.inicio > div > ul > li > a {
        font-weight: 400;
        font-size: 15px;
    }

    section.inicio > div.img-perfil-container {
        display: none;
    }

    section.sobre-mim {
        grid-template-rows: 6.5rem 1fr 4rem;
        column-gap: 3rem;
        /* background: red; */
    }

    section.sobre-mim > div.info-texto > h1 {
        color: white;
        font-size: 2.6rem;
    }

    section.sobre-mim > div.info-texto > p {
        font-size: 1.4rem;
        padding-right: 0.5rem;
    }

    /* section.sobre-mim > div.img-continer-sb {
        grid-row: 2;
        align-self: start;
        justify-self: center;
    } */

    section.sobre-mim > div > img {
        height: 300px;
        width: 300px;
        border-radius: 50%;
        grid-row: 2/-1;
        display: block;
        box-shadow: 2px 2px 2px 0 rgba(108, 108, 108, 0.448);
    }

    section.habilidades {
        display: grid;
        grid-template-columns: 3rem 1fr 1fr;
        grid-template-rows: 11.2rem 1fr 2rem;
        
    }

    section.habilidades > h1 {
        color: white;
        font-size: 2.6rem;
    }

    section.habilidades > article {
        max-width: 450px;
    }

    section.habilidades > article > div.info-skill {
        max-width: 100%;
    }

    section.habilidades > article > div > h1 {
        font-size: 1.8rem;
    }

    section.habilidades > article > div > p {
        font-size: 1.7rem;
        max-width: 100%;
        color: white;
    }

    section.habilidades > div.icones-habilidades {
        grid-column: 3;
        grid-row: 2;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        width: 350px;
        justify-self: center;
    }

    section.habilidades > div.icones-habilidades > img {
        width: 80px;
    }

    section.habilidades > div.icones-habilidades > img.icone-css {
        width: 90px;
    }

    section.habilidades > div.icones-habilidades > img.icone-git {
        grid-column: 1;
        padding: 0.9rem 0.8rem;
        align-self: start;
    }

    section.habilidades > div.icones-habilidades > img.icone-figma {
        grid-column: 2;
        padding: 0.9rem 0.8rem;
        align-self: start;
    }

    section.projetos {
        grid-template-columns: 5rem 1fr 11.6rem;
    }

    section.projetos > div.titulo-projetos > h1 {
        font-size: 2.6rem;
    }

    section.projetos > article {
       justify-content: center;
    }
}

