* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jura", serif;
}

body {
    background: linear-gradient(163deg, #000122, #11134b, #394080);;
}

section {
    border-bottom: 1px solid rgba(65, 69, 86, 0.268);
}

.cabecalho {
    /*background: linear-gradient(163deg, #000122, #11134b, #394080);*/
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 12, 52, 0.871);
    height: 5.3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.cabecalho > nav {
    height: 1rem;
}

.cabecalho > nav > ul {
    display: flex;
    list-style-type: none;
    height: 1rem;
    margin-right: 6.2rem;
    align-items: center;
}

/*.cabecalho > nav > ul > li {
    background-color: red;
    /*margin-right: 1.1rem;
    height: 1rem;
    padding: 0.8rem;
    padding-right: 0.6rem;
    font-size: 1.3rem;
    font-family: "IBM Plex Mono", serif;
    border-right: 2px solid white;
    color: white;
    line-height: 0.1rem;
}*/

.cabecalho > nav > ul > li {
    height: 3rem;
    display: flex;
    align-items: center;
}

.cabecalho > nav > ul > li > a {
    text-decoration: none;
    color: rgb(132, 139, 158);
    font-size: 1.3rem;
    padding: 0.8rem;
    padding-right: 0.6rem;
    margin-right: 1rem;
    position: relative;
    display: block;
    font-weight: 500;
    transition: all .2s ease-in-out;
}

.cabecalho > nav > ul > li > a:hover {
    color: white;
    font-weight: 600;
}

.cabecalho > nav > ul > li > a:hover::after {
    height: 2.1rem;
    top: 11px;
    background-color: white;
}

.cabecalho > nav > ul > li > a::after {
    content: ' ';
    display: inline-block;
    height: 1rem;
    width: 1.8px;
    background-color: rgb(132, 139, 158);
    margin-left: 0.6rem;
    position: absolute;
    top: 18.7px;
    transition: all 0.3s ease-in-out;
}

.cabecalho > nav > ul > li > a.inicio-menu {
    display: block;
    width: 6rem;
} 

.cabecalho > nav > ul > li > a.sobmim-menu {
    margin-left: -25px;
}

section.inicio {
    /*background: linear-gradient(162deg, #000122, #11134b, #394080);*/
    background-color: transparent;
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70px 1fr;
}

section.inicio > span > h1 {
    
    color: white;
    width: 37rem;
    font-size: 3.7rem;
    margin-top: 5.2rem;
    margin-left: 2.3rem;
    padding: 0.7rem;
    line-height: 3.7rem;
    font-weight: 500;
}

section.inicio > span > h2 {
    margin-left: 3rem;
    margin-top: 0.1rem;
    
    color: white;
    width: 37rem;
    font-weight: 100;
}

section.inicio > span > ul {
    color: white;
    margin-left: 2.12rem;
    margin-top: 0.5rem;
    width: 32rem;
    height: 2.9rem;
    list-style-type: none;
    display: grid;
    grid-template-columns: 6.2rem 6.2rem 6.2rem;
    column-gap: 2.6rem;
}

section.inicio > span > ul > li {
    align-self: center;
    display: flex;
    width: 8.9rem;
}

section.inicio > span > ul > li.li-linkedin {
    width: 8rem;
}

section.inicio > span > ul > li.li-git {
    width: 7rem;
    margin-left: 0.5rem;
}

section.inicio > span > ul > li > a {
    text-decoration: none;
    color: #fff;
    /*background-color: rgb(255, 255, 255);*/
    padding: 0.9rem;
    display: block;
    width: 9rem;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 26px;
    position: relative;
    transition: all .2s ease-in-out;
}

/*section.inicio > span > ul > li > a:hover {
    /*background-color: white;
    color: #11134b;
}*/

section.inicio > span > ul > li > a::after {
    content: "🡥";
    margin-left: 0.2rem;
    position: absolute;
    top: 13px;
    transition: transform .2s ease-in-out;
}

section.inicio > span > ul > li > a:hover::after {
    transform: translate(2px, -2px);
}

section.inicio > aside {
    background-color: yellowgreen;
    grid-column: 2;
    grid-row: 2/ -1;
    max-width: 610px;
}


section.sobre-mim {
    background-color: transparent;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 136px 1fr;
}

section.sobre-mim > aside {
    grid-row: 1 /-1;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-rows: 100px 120px 1fr;
    align-items: center;
    justify-content: center;
}

section.sobre-mim > aside > img {
    height: 500px;
    border-radius: 50%;
    grid-row: 2/-1;
}

section.sobre-mim > span {
    display: grid;
    grid-template-rows: 100px 120px 250px;
}

section.sobre-mim > span > h1 {
    color: white;
    grid-row: 2/2;
    align-self: center;
    font-size: 3rem;
   /*padding-top: 2.7rem;*/
}

section.sobre-mim > span > p {
    color: white;
    grid-row: 3/ -1;
    text-align: left;
    text-indent: 1.5rem;
    font-size: 1.5rem;
    
    width: 500px;
}

section.habilidades {
   
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 250px 250px 1fr;
    height: 100vh;
}

section.habilidades > article {
    justify-self: center;
    align-content: center;
    grid-row: 2/ 4;
    background-color: #0a0c4c4d;
    width: 500px;
    height: 300px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
}

section.habilidades > article > span > h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
    color: white;
}

section.habilidades > article > span > p {
    font-size: 1.8rem;
   
    width: 430px;
    padding: 0.3rem;
    color: white;
}

section.habilidades > aside {
    grid-column: 2;
    grid-row: 2 /3;
    justify-self: center;
    align-self: center;
    column-gap: 40px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 350px;
    width: 400px;
}

section.habilidades > aside > a  {
    background-color: #0a0c4c4d;
    width: 120px;
    height: 120px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

section.habilidades > aside > a:hover {
    background-color: #0a0c4cc1;

}


section.habilidades > aside > a > img {
    width: 70px;
    
    align-self: center;
    justify-self: center;
}

section.habilidades > aside > a > img.html {
    width: 67px;
}

section.habilidades > aside > a.html {
    align-self: center;
    justify-self: center;
}

section.habilidades > aside > a.css {
    align-self: center;
    justify-self: center;
}

section.habilidades > aside > a > img.icone-css {
    display: block;
    height: 70px;
    width: 70px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

section.habilidades > aside > a.js {
    align-self: center;
    justify-self: center;
}

section.habilidades > aside > a > img.icone-js {
    height: 70px;
}

section.habilidades > aside > a.git {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

section.habilidades > aside > a > img.icone-git {
    grid-column: 2;
    grid-row: 2;
}

/*ANIMAÇÕES JavaScript*/

/*.js-scroll {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .2s;
}*/

.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

section.habilidades > article > span {
    display: none;
}

section.habilidades > article > span.active {
    display: block !important;
    animation: show .5s forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
